.container {
  display: flex;
  flex-direction: column;
}

.drawing-area {
  /*background-color: red;*/
  border: 1px solid #cacaca;
  height: 500px;
  width: 500px;
  margin-right: 25px;
}

.color-row {
  display: flex;
  margin-bottom: 20px;
}

.reset-button {
  margin-left: 10px;
}